<div class="container">
  <div class="row mt-3">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" (input)="getFilms($event.target.value)">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div *ngIf="isLoading" class="loader mt-3"></div>
  </div>
  <ul class="list-group list-group-flush list-unstyled mt-3" *ngIf="!isLoading">
    <li class="list-group-item" *ngFor="let film of films">
      <app-film [data]="film"></app-film>
    </li>
  </ul>

</div>
